*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --light-green: #588157;
    --partial-dark-green: #3a5a40;
    --dark-green: #344e41;
}


/* Navbar  */

.navbar{
      background-color: #6fa26e;
}
.container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px  40px;
}
.navbar-brand{
    color: black;
}
.nav-item a{
    color: black;
    font-size: 18px;
    font-weight: 600;
}
.dropdown-menu li a{
    color:black;
    font-weight: normal;
}


