
/* heading-font  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Montserrat", sans-serif; */

/* custom-font  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* font-family: "Open Sans", sans-serif; */



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

:root{
    --light-green: #588157;
    --partial-dark-green: #3a5a40;
    --dark-green: #344e41;
}


/* Navbar  */

.navbar{
      background-color: #6fa26e;
}
.container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px  40px;
}
.navbar-brand{
    color: black;
}
.nav-item a{
    color: black;
<<<<<<< HEAD
=======
    font-size: 18px;
>>>>>>> 8e00b593057412f5d7fdb4fe65d567bf5adbd884
    font-weight: 600;
}
.dropdown-menu li a{
    color:black;
    font-weight: normal;
}

<<<<<<< HEAD
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  right: 100%;
  margin-top: -0.125rem;
}
=======
>>>>>>> 8e00b593057412f5d7fdb4fe65d567bf5adbd884

